@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is an assignment project for eGeneration</p>
    <a href="https://github.com/rhrokib/MedicineEntry" target=”_blank”> <button type="button" class="btn btn-outline-dark my-4">View on GitHub</button> </a>

    <div class="card text-center">
        <div class="card-header">
            Featured
        </div>
            <div class="card-body">
            <h5 class="card-title">Use these demo credentials to login. Or you're  welcome to register.</h5>
            <h6 class="card-text text-success">Email: user@test.com</h6>
            <h6 class="card-text text-success">Pass : Test_123</h6>
            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Let's Login</a>
        </div>
      </div>
</div>
